body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Clickable {
  color:blue;
  cursor:pointer;
}
#dataTable tbody >tr:hover {
  background-color: #c0c0c0


}
thead {
  background-color:#008080
}
#margin{
  padding-left: 10%
}
.modal-header {
  background-color: #008080
}
#dataTable {
  width:80%;
}
#resource {
  margin-left:15%;
}

input {
  padding: 6px 6px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #cfcfcf;
  margin: 8px;
  width: 260px;
}

input::placeholder {
  font-size: 1.2em;
  font-weight: lighter;
  color: #999;
}

label {
  margin: 8px;
  width: 20%;
}

.select-wrapper {
  width: 260px;
  display: inline-block;
}